<div class="content">
  <div class="section">
    <div id="address">
      <h2>ADDRESS</h2>
      <p id="address">White Rock Lake Dog Park <br>
        8000 Mockingbird Lane <br>
        Dallas, TX 75218</p>
    </div>
    <br>
    <div id="parkhours">
      <h2> PARK HOURS</h2>
      <p>Tuesday - Sunday <br> 5:00am - 11:00pm</p>
      <small>Closed on days following a medium to heavy rain.</small>
      <br>
      <small>Closed on Mondays for maintenance.</small>
          <!-- <small (click)="expandInfo()" *ngIf="infomore">(more)</small>
          <small (click)="expandInfo()" *ngIf="!infomore">(less)</small>
      
      <div class="subtext col-3" *ngIf="infoExpanded">
        <small>
          Each Monday, maintenance staff performs routine maintenance (mowing, forestry, litter pick-up, refilling of pet waster bags, etc.), then reopens the dog park after the work is complete. 
          There are cases that required an all-day closure on Mondays for enhanced maintenance. This is also the case when the park gets a lot of rain. 
          The turf is in poor condition and requires additional maintenance by staff which includes irrigating, aerating and RESTING. Allowing dogs on over saturated turf will also result in damage to this turf. 
        </small>
      </div> -->
    </div>
  </div>
    <div class="row">
      <div id="info" class="col-11">
        <p>The 3-acre "off-leash" dog park, is located on the northwest side of White Rock Lake Park at the intersection of Mockingbird Lane and W. Lawther Drive. 
          This doggy paradise boasts great views of the lake, trail, and wildflower areas. 
          You and your pet will enjoy the wide variety of big and small K-9's that frequent this park, and most importantly you're only steps away from hiking, jogging, cycling, or boating around Dallas' largest lake.</p>
      </div>
    </div>
  </div>
