h1 {
    text-align: center;
}

#parkrules {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    width: 80%;
    
}

.row {
    margin: auto;
    text-align: center;
}

p {
    font-size: 25px;
    margin: 1%;
    font-family: 'Open Sans Condensed', sans-serif;
}

small {
    font-size: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.subtext {
    margin-bottom: 2.5%;
    margin-top: 0;
}

.expand {
    font-size: 15px;
}

h2 {
    text-decoration: underline
}
