<div id="content">
    <div>
        <h3>What is the weight restriction for the small dog park?</h3>
        <p>Small dogs are considered to be under 20lbs.  Any dog over this weight should not be in the small dog park.  They are welcome to the large dog park and the Dog Launch.</p>
    </div>
    <div>
        <h3>If I have two dogs, one large and one small, which dog park should I go in?</h3>
        <p>Because you have a large dog, which is not allowed in the small dog park, please bring both of your dogs into either the large dog park or the Dog Launch.</p>
    </div>
    <div>
        <h3>I need to report an incident with an aggressive dog.  Who do I contact?</h3>
        <p>We are so sorry that you had to experience this.  To report an aggressive dog, please call 311.</p>
    </div>

</div>